html {
  font-size: 10px;
  background:url("./assets/images/dinosaur.jpg") bottom center;

  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.key {
  border: 6px solid #EBC373;
  border-radius: 10px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition:all 1.5s;
  width: 100px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
}

.playing {
  transform: scale(1.3);
  text-transform: uppercase;
  border-color: #E8131A;
  box-shadow: 0 0 20px #E8131A;
  text-shadow: 0 0 9px #E8131A;
}

kbd {
  display: block;
  font-size: 40px;
}


.sound {
  font-size: 1.2rem;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  color: #E8131A;
}